
html {
	background: gray;
}

body {
	margin: 0px;
}

a {
	text-decoration: none;
}

.twitter-original {
	background: white;
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
	width: 600px;
	margin: 0px;
}

.twitter-original .stats {
	margin-top: 10px;
	border-style: solid;
	border-color: #b9bbbf;
	border-width: 2px 0px 2px 0px;
	display: flex;
}

.twitter-original .stats .stat {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	color: #393b3f;
	font-size: 20px;
}

.twitter-original .stats .stat .count {
	color: black;
	font-weight: bold;
}

.tweet-header {
	display: flex;
    justify-content: space-between;
	width: 100%;
}

.tweet-header .left {
	display: flex;
}

.tweet-header .left .tweet-profile-img {
	background: white;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.tweet-header .left .tweet-name .name {
	font-weight: bold;
	font-size: 18px;
}

.tweet-header .left .tweet-name .handle-name {
	top: 15px;
	color: #393b3f;
}

.tweet-header .right {
	margin-top: 10px;
}

.tweet-header .right .watermark {
	background: #3c79f2;
	height: 100%;
	padding: 15px;
	color: white;
	font-weight: bold;
	border-radius: 50px;
}

.tweet-header .right .arrow {
	color: #a7a9aa;
	margin-left: 10px;
}

.tweet-content {
	font-weight: 800px;
	font-size: 25px;
	margin-top: 10px;
}

.quoted-tweet {
	border-style: solid;
	border-color: #b9bbbf;
	border-width: 2px 2px 2px 2px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

.quoted-tweet .tweet-header .left .tweet-profile-img {
	width: 35px;
	height: 35px;
}

.quoted-tweet .tweet-header .left .tweet-name .name {
	font-size: 17px;
}

.quoted-tweet .tweet-header .left .tweet-name .handle-name {
	font-size: 12px;
}

.quoted-tweet .tweet-content {
	font-size: 17px;
}

.date-time {
	color: #393b3f;
	margin-top: 10px;
}

.media {
	display: flex;
	height: 400px;
	margin-top: 10px;
	margin-bottom: 15px; 
}

.media .one-img {
	max-width: 100%;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.two {
	height: 250px;
}

.media .two-img {
	max-width: 100%;
	height: 100%;
	width: 50%;
	margin: 2px;
	border-radius: 10px;
}

.media .three-img {
	height: 100%;
	width: 50%;
	margin: 2px;
	border-radius: 10px;
}

.media .side-one {
	height: 100%;
	width: 70%;
	margin: 1px;
	border-radius: 10px;
}

.media .side-two img {
	width: 100%;
	margin: 1px;
	height: 200px;
	border-radius: 10px;
}

.media .side-two-3 img {
	width: 100%;
	margin: 1px;
	height: 132px;
	border-radius: 10px;
}

.theme-dark {
	background: rgb(21, 32, 43);
	color: white;
}

.theme-dark .quoted-tweet {
	border-color: rgb(103, 119, 131);
}

.theme-dark .tweet-header .left .tweet-name .handle-name {
	color: rgb(103, 119, 131);
}

.theme-dark .date-time {
	color: rgb(103, 119, 131);
}

.theme-dark .stats {
	border-color: rgb(103, 119, 131);
}

.theme-dark .stats .stat {
	color: rgb(103, 119, 131);
}

.theme-dark .stats .stat .count {
	color: white;
}

/** Thread **/

.thread-tweet-compound {
	margin-top: 2px;
	border-style: solid;
	border-color: rgb(164, 217, 249);
	border-width: 0px 0px 0px 5px;
	margin-left: 20px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.thread-tweet-compound .stats {
	margin-top: 0px;
	border-width: 0px 0px 0px 0px;
	display: flex;
}

.thread .date-time {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 12px;
}

.thread-tweet-compound .stats .stat {
	margin-top: 13px;
	margin-bottom: 0px;
	color: #393b3f;
	font-size: 12px;
}

.thread-tweet-compound .stats .stat .count {
	color: black;
	font-weight: bold;
}

/** EXTRAS **/

.margin-top-2 {
	margin-top: 2px;
}