<html>
	<link rel="stylesheet" href="../assets/css/screenshot-it.css">
	<!--<script src="../assets/js/font-awesome.js"></script>-->
<body>
	<div class="twitter-original" id="1137250317911973888" >
		<div class="tweet-header">
			<div class="left">
				<img class="tweet-profile-img" src="../assets/img/atoysoldier.jpg" />
				<div class="tweet-name">
					<span class="name">Donald J. Trump</span> <br/>
					<span class="handle-name">realDonaldTrump</span>
				</div>
			</div>
			<div class="right">
				<a href=""><span class="watermark">@screenshot_it </span></a>
			</div>
		</div>
		<div class="tweet-content">
		After having written many best selling books, and somewhat priding 
		myself on the ability to write, it should be noted that the Fake News 
		constantly likes to pore over my tweets looking for a mistake. I 
		capitalize certain words only for emphasis, not b/c they should 
		be capitalized!
		</div>
		<!-- one image -->
		<!--<div class="media">
			<img class="one-img" src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
		</div>-->
		
		<!-- two image -->
		<!--<div class="media two">
			<img class="two-img" src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
			<img class="two-img" src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
		</div>-->
		
		<!-- three image -->
		<!--<div class="media">
			<img class="side-one" src="a ulr" alt="a car" />
			<div class="side-two" >
				<img src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
				<img src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
			</div>
		</div>-->
		
		<!-- four image -->
		<!--<div class="media">
			<img class="side-one" src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
			<div class="side-two-3" >
				<img src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
				<img src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
				<img src="https://pbs.twimg.com/ext_tw_video_thumb/1137893357533970432/pu/img/xISs6vq_8KtDcuRD.jpg" alt="a car" />
			</div>
		</div>-->
		
		<div class="quoted-tweet">
			<div class="tweet-header">
				<div class="left">
					<img class="tweet-profile-img" src="../assets/img/atoysoldier.jpg" />
					<div class="tweet-name">
						<span class="name">Donald J. Trump</span> <br/>
						<span class="handle-name">@realDonaldTrump</span>
					</div>
				</div>
			</div>
			<div class="tweet-content">
			After having written many best selling books
			</div>
		</div>
		<div class="date-time">7:13 PM - 3 Jul 2018</div>
		<div class="stats">
			<div class="stat">
				<span class="count">1,250</span> Retweets
			</div>
			<div class="stat">
				<span class="count">250</span> Likes
			</div>
		</div>
	</div>
</body>
</html>